html,
body {
  margin: 0;
  padding: 0;
  font-size: 14pt;
  width: 100vw;
  height: 100vh;
  background-image: url("https://store-images.s-microsoft.com/image/apps.15160.14439434818564022.3318c674-5d77-439f-a11b-5f9c9ebb2aa3.5d9b6e54-e872-4c9d-87ab-b87faaa40eb8?mode=scale&q=90&h=1080&w=1920");
}

nav {
  background: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

nav img {
  max-height: 50px;
  padding: 5px;
  /* margin: 5px 20px 5px 0; */
  display: inline-block;
  vertical-align: middle;
}

nav h1 {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

nav a {
  color: white;
  display: inline-block;
  padding: 20px;
  font-size: 1.2em;
  text-decoration: none;
}

nav a:hover {
  background: #282c34;
}

main {
  width: 900px;
  margin: auto;
  height: 100%;
}

table{
  width: 100%;
  background-color: white;
}

.cryptoTable {
  border: 1px solid black;
  color: black;
}

table, th, td {
  text-align: center;
}

th, td {
  border-bottom: 1px solid #ddd
}

tr:hover {
  background-color: #f5f5f5;
}
a{
color: inherit
}

a:link {
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.logo {
  height: 25px;
  width: 25px;
}

.coinLogo {
  height: 35px;
  width: 35px;
  margin: 0 10px 0 0;
}

.negative {
  color: red;
}

.positive {
  color: green;
}

.btc {
  font-size: 15px;
}

.coins {
  text-align: center;
  background-color: white;
}

.coinsInfo {
  border: 1px solid black;
}

.name{
  text-align: left;
  padding-left: 30px;
  width: 180px;
  font-size: 17px;
}

.right {
  border: 1px solid black;
  float: right;
  background-color: white;
}

#rightp {
  display: inline-block;
  margin: auto;
}

#leftp {
  display: inline-block;
  margin: auto;
}

.left {
  border: 1px solid black;
  float: left;
  background-color: white;
}

.coinsL {
  display: inline-block;
  width: 50%;
  background-color: white;
}

.coinsR {
  display: inline-block;
  width: 50%;
  background-color: white;
}

.box {
  background-color: grey;
  margin: 100px;
}